button, .button {
	background-color: #36009d;
	transition: all 0.5s;
	color: white;
	border-radius: 20px;
	padding: 10px 15px;
	border: none;
	font-size: 1.1em;
	font-family: sans-serif;
	cursor: pointer;
	text-decoration: none;
	margin: 5px;
}

button:hover, .button:hover {
	background-color: #5800ff;
	color: white;
}

.button.red {
	background-color: #d11717;
}

.button.red:hover {
	background-color: #ff3e3e;
}

label, .label {
	color: grey;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 0;
	text-align: left;
}

input, textarea {
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #777;
	margin: 1px;
	display: block;
	font: inherit;
}

textarea {
	height: 3em;
}

input:focus, textarea:focus {
	outline: none;
	border-width: 2px;
	border-color: #36009d;
	margin: 0px;
}

.field {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 20px 0;
}

.field.large {		
  margin-bottom: 30px;	
}

.field.large input {
	font-size: 2em;
	font-weight: bold;
}

.required-help {
	color: #36009d;
}

.preview {
	border: 1px dashed #999;
	padding: 0 10px;
	margin-bottom: 20px;
}